
@{
    ViewBag.Title = "thankyou";
}



   

<div class="thankyou">
    <h2>Thank you for your order</h2>
    <p>You can explore more products<a href="@Url.Action("Index","productList")"> here </a></p>
</div>
<style>
    .thankyou
    {
        font-size:15px;
        margin:20px;
    }
</style>